html,
body,
#root {
  max-width: 100%;
  /* overflow-x: hidden; */
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  display: flex;
  align-items: center;
  width: 100%;
}
.container {
  margin-bottom: 5%;
}
